<form id="todo-form">
  <input id="form-title" type="text" name="title" placeholder="Title"/>
  <input id="form-date" onblur="(this.type = 'text')" onfocus="(this.type = 'date')" name="date" placeholder="Date"/>
  <input id="form-time" onblur="(this.type = 'text')" onfocus="(this.type = 'time')" name="time" placeholder="Time"/>
</form>
<div id="submit-todo">Submit</div>
